.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px;
}

header {
    grid-column: 1;
}

.wrapper__outlet {
    margin: 0 auto;
    grid-column: 2;
    text-align: center;
}